<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPAlertController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0952D6641F8F554E00E4361F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0952D67D1F8F554E00E4361F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0952D6881F8F554E00E4361F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
